.orderInput
	position: fixed
	z-index: 1000
	top: 20px
	right: 20px
	width: 20em
	height: 18em
	background-color: #fff
	box-shadow: 5px 5px 15px #dddddd
	
	.heading
		font-size: 2em
		padding: .5em 0 .5em .5em
	
	.container
		padding: 0 1em
		max-height: 31.5em

		.addressInput
			display: flex

			.geosuggest
				margin: 0
				margin-right: 0
				width: 90%

				.geosuggest__item
					font-size: 14px
                
				.geosuggest__input
					box-shadow: none
					outline: none
					border: 1px solid black
					font-size: 14px
					color: #333
					font-family: 'Raleway'
					padding-top: 0
					padding-bottom: 0
					line-height: 34px

			.loader
				padding-top: 6px

		button
			outline: none
			z-index: 0
