.orderInput {
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  width: 20em;
  height: 18em;
  background-color: #fff;
  box-shadow: 5px 5px 15px #dddddd; }
  .orderInput .heading {
    font-size: 2em;
    padding: .5em 0 .5em .5em; }
  .orderInput .container {
    padding: 0 1em;
    max-height: 31.5em; }
    .orderInput .container .addressInput {
      display: flex; }
      .orderInput .container .addressInput .geosuggest {
        margin: 0;
        margin-right: 0;
        width: 70%; }
        .orderInput .container .addressInput .geosuggest .geosuggest__item {
          font-size: 14px; }
        .orderInput .container .addressInput .geosuggest .geosuggest__input {
          outline: none; }
      .orderInput .container .addressInput .loader {
        padding-top: 6px; }
    .orderInput .container button {
      outline: none; }
