.routes-container {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .routes-container .routes {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 40px; }

.switcher {
  position: fixed;
  bottom: 10px;
  font-size: 14px; }
  .switcher .rc-switch {
    margin: 0 .5em; }
