.hiveInfo .name {
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2em; }

.hiveInfo .location div {
  padding: 2px 0; }

.hiveInfo .location .address {
  font-weight: bold; }

.hiveInfo .demand {
  margin-top: 1em;
  padding: 10px 0; }
